@media screen and (max-width: 1200px) {
    .main {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 23px;
    }
}
@media screen and (max-width: 650px){
    .main {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 23px;
    }
}